body {
    background-color: #EFF0EA;
	overflow: hidden;
}

.six.wide.column {
    height: 100vh;
    overflow: scroll;
}

#news {
    text-align: center;
}

@keyframes fade {
    from {
        opacity: 0;
        margin-top: -100px;
    }
    to {
        opacity: 1;
    }
}

.news {
    text-align: left;
    word-wrap: break-word;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.date {
    text-align: center;
    padding: 5px;
}

.ui.fixed.table tr th {
    text-align: center;
}

#note_content {
    word-wrap: break-word; 
    white-space: pre-wrap;
}

p, th {
    word-wrap: break-word; 
    white-space: pre-wrap;
}
