body {
    background-color: #EFF0EA;
	/* overflow: hidden; */
}

.ui.table tr th {
    text-align: center;
}

.ui.button {
    width: 400px;
    height: 85px;
    font-size: 32px;
}

#dop_schedule {
    margin-left: -45%;
    width: 90%;
}